[submodule "JRift"]
	path = JRift
	url  = https://github.com/mabrowning/JRift
[submodule "Sixense-Java"]
	path = Sixense-Java
	url  = https://github.com/mabrowning/Sixense-Java.git
[submodule "repo"]
	path = repo
	url  = https://github.com/mabrowning/minecrift-repo.git
[submodule "JMumbleLink"]
	path = JMumbleLink
    url  = https://github.com/StellaArtois/java-mumble-link.git
